/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.uabb-image-carousel .slick-arrow{
	background-color: transparent!important;
}
#gform_23 select{
    border: 1px solid #e1e1dd!important;
background-color: #f7f7f5;
}
.uabb-image-carousel .slick-arrow i{
	color: #000!important;
}
.slick-list .slick-track > div img {
    width: 100%!important;
}
.text-icon .fl-module-content .storename li .address::before {
  content: "\ea7d";
  font-family: "Ultimate-Icons" !important;
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
  text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p {
  display: inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
  width: 200px;
}
div.gform_wrapper .gfield_time_ampm select {
  max-width: 8rem !important;
  width: calc(5rem + 20px) !important;
  -webkit-appearance: none;
  background-image: url("https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png");
  background-position: 91%;
  background-size: 8px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px!important;
}
#responsive-menu-additional-content .phone a {
	line-height: 40px;
	color: #fff!important;
}
footer .storename li .phone a span:before {
  font-size: 18px !important;
  margin-right: 14px;
}
footer .storename li .phone a span {
  font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #fff;
}
footer .storename {
  padding-left: 10px !important;
}
footer .fa-phone-alt {
  display: none;
}
.fl-module-content .storename li .address a {
  color: #025605;
}
.fl-module-content .storename li .address a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .message a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs {
    padding-left: 20px!important;
  }
.store-opening-hrs-container ul.store-opening-hrs li {
  list-style: none;
  position: relative!important;

}
.store-opening-hrs-container ul.store-opening-hrs li span{
    position: absolute!important;
    left: 200px!important;
}
.color .fl-icon-text.fl-icon-text-wrap{
    padding-left: 0px!important;
}
div.text,
div.number {
  display: inline-block;
}
ul.social-icons {
  text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
footer .storename li .phone a:before {
  content: " ";
  display: none;
}
.footermenu li.menu-item a {
  font-size: 14px;
  line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before {
  font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button
  .uabb-creative-button-has-icon
  a.uabb-none-btn:hover
  i.ua-icon-arrow-down:before {
  font-size: 1em;
}

.hrs {
}
.color a {
  color: ;
}
header .fl-page-header-logo a img{
	max-height: 70px!important;
}
.facetwp-facet-collection .fs-dropdown {
	background: #F9F9F8!important;
}

.storename .address a p{
	margin-bottom: 0px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.copyright-sec-row, .copyright-sec-row a {
	font-size: 12px!important;
}
.fl-content-slider-navigation .slider-next, .fl-content-slider-navigation .slider-prev{
	background: #000;
    padding: 12px!important;
}
.gfield_time_hour i{
	margin-top: 0px!important;
}
 .gfield_time_ampm select{
	min-width: 60px!important;
	padding: 5px 10px!important;
}
@media (max-width: 1024px) {


	.fl-page-bar {
    display: none;
  }
  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  #responsive-menu-container div#responsive-menu-additional-content,
  #responsive-menu-container div#responsive-menu-search-box {
    padding: 5px 5%;
  }
  #responsive-menu-additional-content .storename li .phone a:before {
    margin-right: 5px !important;
  }
}

@media (max-width: 992px) {
button#responsive-menu-button{
    top: 22px!important;
}
}

@media (max-width: 768px) {

.product-row>div.col-md-3:nth-child(3n+1) {
    clear: left!important;
}	
.flex_wrap .fl-col-group{
	display: flex;
    flex-wrap: wrap;
}
button#responsive-menu-button{
    top: 32px!important;
}

  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80%;
  }
  .footer-menu .fl-col-small {
    width: 25% !important;
    float: left;
    clear: none;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-sec-row .fl-col-small {
    width: 100%;
    text-align: center;
  }
  .copyright-sec-row
    .fl-col-small:first-child
    .fl-module-html
    .fl-module-content.fl-node-content {
    margin-top: 20px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
    font-size: 14px;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
  }
  footer .fl-icon-text {
    padding-left: 0px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
    padding-right: 15px;
  }
  /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
  .d-block .fl-row-fixed-width .fl-col-group-equal-height {
    display: block;
  }
  .fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: -8px;
  }
  .w-100 {
    width: 100%;
  }
  .max-width-issue {
    max-width: 360px !important;
    margin: 0 auto !important;
    float: none;

  }
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reversed .fl-col-group-responsive-reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
  }
  button#responsive-menu-button {
    top: 60px;
  }
  .uabb-photo__gallery-filters li {
    display: block;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 0% !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    right: 32px !important;
  }
  .rc-anchor-normal {
    width: 300px !important;
  }
  footer .storename {
    padding-left: 0 !important;
  }
  /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .footer-menu .fl-col-small {
    width: 100% !important;
  }

  .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
    max-width: 10rem !important;
    width: calc(4rem + 20px) !important;
  }
}



@media screen and (max-width: 630px) {
    .store-opening-hrs-container ul.store-opening-hrs li span{
        left: auto!important;
        right: 0px!important;
    }

}

@media screen and (max-width: 600px) {

.w_100{
	width: 100%!important;
}

  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  div.fl-module-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
    height: 335px;
    margin-bottom: 20px;
  }
  .fl-builder-content div.our-services {
    width: 100% !important;
  }
  .fl-builder-content div.our-services .fl-col-content {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
}
@media screen and (max-width: 410px) {
  button#responsive-menu-button.responsive-menu-accessible {
    width: 35px;
    height: 35px;
  }
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 11px;
  }
}
@media screen and (max-width: 378px) {
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 10px;
  }
}
@media screen and (max-width: 374px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 20px!important;
  }
  .max-width-issue {
    padding-left: 10px;
    padding-right: 10px;
   
  }
  .gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top!important;
}
 
}

#input_23_7 {
  width: 100%;
}


